.navbar {
  position: fixed;
  width: 100%;
  height: 45px;
}

.header {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  color: whitesmoke;
}

.navigasi {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.navigasi a {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
}

.box1 {
  width: 100%;
  height: 500px;
  /* background-color: blueviolet; */
}

.box1_1 {
  height: 500px;
  /* background-color: rgb(3, 104, 42); */
}
.box1_1_1 {
  width: auto;
  height: 500px;
  background-image: url(img/natur2.jpg);
}

.box2 {
  width: 100%;
  margin: 0px auto 0px;
  /* background-color: rgb(55, 3, 104); */
  overflow: auto;
}

.box2_1 {
  float: left;
  padding: 10px;
  width: 100%;
  height: 180px;
  color: rgb(75, 75, 75);
  /*background-color: rgb(3, 104, 42); */
}

.box2_1 p {
  text-align: center;
  font-size: 25px;
}

.box2_1_1 p {
  text-align: left;
  padding-top: 25px;
  line-height: 15px;
  font-size: 15px;
}

.box2_2 {
  float: right;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 180px;
  color: rgb(75, 75, 75);
  /* background-color: rgb(104, 3, 70); */
}

.box2_2 p {
  text-align: center;
  font-size: 25px;
}

.box2_2_2 p {
  text-align: left;
  padding-top: 25px;
  line-height: 15px;
  font-size: 15px;
}

.box3 {
  width: 100%;
  /* background-color: aqua; */
}

.box3_1 {
  margin: 0px auto 0px;
  width: 100%;
  height: 50px;
  /* background-color: chocolate; */
}

.box3_1 p {
  text-align: center;
  font-size: 25px;
  /* background-color: chocolate; */
}

.box3_1_1 {
  padding: 25px;
  width: 100%;
  background-color: chocolate;
}

.box3_1_1_1 {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.box3_1_1_1_1 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_1_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  background-image: url(img/small/image1.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_1 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_2 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_2_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  background-image: url(img/small/image2.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_2 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_3 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_3_1 {
  height: 179px;
  width: 250px;
  /* background-color: white; */
  background-image: url(img/small/image3.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_3 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_4 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_4_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_4 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_5 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_5_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_5 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_6 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_6_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_6 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_7 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_7_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_7 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_8 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_8_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_8 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_9 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_9_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_9 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.box3_1_1_1_10 {
  float: left;
  margin: 5px;
  width: 250px;
  height: 300px;
  /* background-color: blue; */
}

.box3_1_1_1_10_1 {
  height: 250px;
  width: 250px;
  background-color: white;
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.box3_1_1_1_10 p {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
}

.clear {
  clear: both;
}

.footer {
  text-align: center;
  padding: 15px;
  line-height: 20px;
  font-size: 15px;
  background-color: rgb(80, 80, 80, 0.2);
}

.footer a {
  font-size: 15px;
  text-decoration: none;
}

/*untuk layar device berukuran kecil*/
@media screen and (min-width: 450px) {
  .box2_1,
  .box2_2 {
    width: 40%;
  }
}

@media screen and (min-width: 450px) {
  .box1_1_1 {
    background-image: url(img/natur.jpg);
  }
}
