.navbar {
  position: absolute;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.header {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  color: whitesmoke;
}

.navigasi {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.navigasi a {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
}

.box_1 {
  width: 100%;
  height: 1080px;
  /* background-image: url(/img/Background/natur.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; */
}

.box_1_1 {
  position: absolute;
  margin-top: 800px;
  width: 70%;
  height: 275px;
  opacity: 0.25;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.box_1_2 {
  width: 100%;
  height: 1080px;
  overflow: hidden;
}

.box_1_3 {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-color: rgba(39, 39, 39, 0.2);
}
.box_1_3 p a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

.box_2 {
  width: 100%;
  height: 250px;
}

.box_2_1 {
  float: left;
  width: 57.5%;
  height: 240px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
  color: black;
  /* background-color: blue; */
  /* z-index: 2;
  line-height: 100px; */
}

.box_2_2 {
  float: right;
  width: 37.5%;
  height: 240px;
  margin-right: 5px;
  margin-top: 5px;
  /* background-color: green; */
}

.box_3 {
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
