.navbar {
  position: fixed;
  width: 100%;
  height: 45px;
}

.header {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  color: whitesmoke;
}

.navigasi {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.navigasi a {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
}

.box1 {
  width: 100%;
  height: 500px;
  background-color: blueviolet;
}

.box2 {
  width: 100%;
  margin: 0px auto 0px;
  /* background-color: rgb(55, 3, 104); */
  overflow: auto;
}

.box2_1 {
  float: left;
  padding: 10px;
  width: 100%;
  height: 180px;
  color: rgb(75, 75, 75);
  /*background-color: rgb(3, 104, 42); */
}

.box2_1 p {
  text-align: center;
  font-size: 25px;
}

.box2_1_1 p {
  text-align: left;
  padding-top: 25px;
  line-height: 15px;
  font-size: 15px;
}

.box2_2 {
  float: right;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 180px;
  color: rgb(75, 75, 75);
  /* background-color: rgb(104, 3, 70); */
}

.box2_2 p {
  text-align: center;
  font-size: 25px;
}

.box2_2_2 p {
  text-align: left;
  padding-top: 25px;
  line-height: 15px;
  font-size: 15px;
}

.clear_l {
  clear: left;
}

.clear_r {
  clear: right;
}

.footer {
  text-align: center;
  padding: 15px;
  line-height: 20px;
  font-size: 15px;
  background-color: rgb(80, 80, 80, 0.2);
}

.footer a {
  font-size: 15px;
  text-decoration: none;
}

/*untuk layar device berukuran kecil*/
@media screen and (min-width: 450px) {
  .box2_1,
  .box2_2 {
    width: 45%;
  }
}
